<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag :post_form do %>
  <%= render 'posts/form', post: Post.new %>
<% end %>

<br>

<%= turbo_stream_from :posts %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= turbo_frame_tag :posts do %>
      <%= render post %>
    <% end %>
  <% end %>
</div>
