<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag :post_form do %>
  <%= link_to "Add A Post", new_post_path, class: 'btn btn-primary' %>
  <br>
<% end %>

<%= turbo_stream_from :posts %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
